*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    position: relative;
}

img{
    padding: 10px;
}

h2{
    width: 200px;
    padding: 10px;
    display: block;
}

.center{
    position: absolute;
    margin-left: -350px;
    left: 50%;
}

#Background{
    position: absolute;
}

#leftMenu{
    position: fixed;
    left: 0;
    top: 0;
}

#rightMenu{
    position: fixed;
    right: 0;
    top: 0;
}

.colorButton{
    cursor:pointer;
    color: white;
    width: 200px;
    height: 40px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 170%;
}

.contentL{
    width: 0;
    overflow: hidden;
    display: none;
}

.contentR{
    width: 0;
    overflow: hidden;
    display: none;
    text-align: right;
}

#green{
    background: green;
}

#grey{
    background: grey;
}

#blue{
    background: blue;
}

#imgR{
    float: right;
}

#baner{
    color: white;
    position: absolute;
    top: 250px;
    left: 50%;
    display: none;
    padding: 15px;
    margin-left: -150px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
}

#timeProgress{
    visibility: visible;
    background: red;
    width: 0;
    height: 5px;
}